<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume - Mahesh Rajarapu</title>
    <link rel="stylesheet" href="assets/css/publications.css">
</head>
<body>
    <!-- Social Bar -->
    <div class="social-bar">
        <div class="logo-title">Publications</div>
        <div class="social-links">
            <a href="index.html" id="main-link">Home</a>
            <a href="About.html" id="about-link">About</a>
            <a href="Resume.html" id="resume-link">Resume</a>
            <a href="Reports.html" id="reports-link">Reports/Notes</a>
            <a href="Publications.html" id="publication-link">Publications</a>
            <a href="Talks.html" id="talks-link">Talks & Presentations</a>
        </div>
    </div>

        <!-- Main content container -->
        <div class="container">
            <h2 class="section-title">Ongoing Research Papers</h2>


            <div class="publication-card">
                <h4>1.  Application of Gaussian Activated Neural Network in Image Processing</h4>
                <p>Sardar Vallabhbhai National Institute of Technology, Surat, Gujarat, India | PI: Dr. Shivam Bajpeyi</p>
                <p>Investigating new neural network operators for enhanced image reconstruction accuracy.</p>
                <p class="status">Status: Submitted</p>
            </div>
    
            <div class="publication-card">
                <h4>2. Face Image Quality Assessment with explainable AI</h4>
                <p>Sardar Vallabhbhai National Institute of Technology, Surat, Gujarat, India | PI: Dr. Praveen Kumar Chandaliya</p>
                <p>Working on integrating ISO/IEC face image quality metrics and Explainable AI techniques to enhance face recognition system performance and interpretability.</p>
                <p class="status">Status: In Progress</p>
            </div>
    
            <div class="publication-card">
                <h4>3. Dynamic Batch Size Adjuster Algorithm</h4>
                <p>National Institute of Technology Calicut, Kozhikode, Kerala, India | PI: Dr. Pranesh Das</p>
                <p>Worked on developing the Dynamic Batch Size Adjuster (DBSA) algorithm to optimize training batch sizes dynamically and improve model performance.</p>
                <p class="status">Status: Experimentation</p>
            </div>
            
        </div>
    
        <!-- Footer -->
        <footer>
            &copy; 2025 Mahesh Rajarapu. All Rights Reserved.
        </footer>
</body>
</html>



