<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume - Mahesh Rajarapu</title>
    <link rel="stylesheet" href="assets/css/resume.css">
</head>
<body>
    <!-- Social Bar -->
    <div class="social-bar">
        <div class="logo-title">Resume</div>
        <div class="social-links">
            <a href="index.html" id="main-link">Home</a>
            <a href="About.html" id="about-link">About</a>
            <a href="Resume.html" id="resume-link">Resume</a>
            <a href="Reports.html" id="reports-link">Reports/Notes</a>
            <a href="Publications.html" id="publication-link">Publications</a>
            <a href="Talks.html" id="talks-link">Talks & Presentations</a>
        </div>
    </div>

    <!-- Resume Page Content -->
    <div class="container">
        
        <!-- Resume Content Section -->
        <div class="resume-section">
            <p>I hereby confirm that the details provided in my CV are true and accurate to the best of my knowledge. I would like to express my heartfelt thanks to everyone who has supported me throughout this process.</p>
            
            <p class="confirmation-text">Thank you.</p>
            
            <!-- Resume Button -->
            <p>For my resume, please click the button below:</p>
            <a href="https://drive.google.com/file/d/1vT_r7i40dgYr4OdS0wdlZsETygsXfKgH/view?usp=sharing" id="resume-link" class="resume-button">Please Click Here for Resume</a> <!-- Link to be updated later -->
        </div>
    </div>
</body>
</html>
